@media only screen  and (min-width : 300px ) and (max-width : 600px){
    .input i {
        width: 50px ;
        position: absolute;
        left: 84%;
        top: 50%; 
        transform: translateY(-50%);
        font-size: 25px ;
      }
}

@media only screen  and (min-width : 600px ) and (max-width : 800px){
    .input i {
        width: 50px ;
        position: absolute;
        left: 92%;
        top: 50%; 
        transform: translateY(-50%);
        font-size: 25px ;
      }
}
